spring:
  application.name: learnSpring
  jpa:
    open-in-view: false

  # database configuration
  datasource:
    db1:
      jdbc-url: jdbc:postgresql://localhost:5432/ivan
      username: ivan
      password: ivan
    db2:
      jdbc-url: jdbc:postgresql://localhost:5002/db2
      username: db2
      password: db2
    db3:
      jdbc-url: jdbc:mysql://localhost:3308/db3
      username: db3
      password: db3


  # this one executed schema.sql
  sql.init.mode: always

# log all sql commands
logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type.descriptor.sql: trace

# HTTPS enabled on port 8443 with SSL using a local PKCS12 keystore
server:
  port: 8443
  ssl:
    key-store-type: PKCS12
    key-store: classpath:keystore/LOCALHOST.p12
    key-store-password: notsosecret
    key-alias: LOCALHOST
    enabled: true

# JWT Security: RSA key pair for signing and verifying JWT tokens
rsa:
  private-key: classpath:keystore/JWT-PRIVATE.pem
  public-key: classpath:keystore/JWT-PUBLIC.pem

# Actuator Monitoring
management:
  endpoints:
    web:
      base-path: /manage
      exposure:
        include: health, info, metrics, beans
  endpoint:
    health:
      show-details: when_authorized
      group:
        db:
          include: db
        system:
          include: diskSpace, ping